sphinx-argparse
sphinx-autodoc-typehints
sphinx-copybutton
sphinxcontrib-contentui
sphinx-jsonschema
myst-parser
pydata-sphinx-theme==0.13.3
nbsphinx==0.9.2
ipython
pydata-sphinx-theme
coloredlogs
dicom2nifti
loguru
matplotlib
nibabel
numpy
pydicom
pydicom_seg
pynvml
scikit_learn
scipy
SimpleITK
tqdm
nilearn
pandas
openpyxl