sphinx-argparse
sphinx-autodoc-typehints
sphinx-copybutton
sphinxcontrib-contentui
sphinx-jsonschema
myst-parser
pydata-sphinx-theme
pynvml
scikit_learn
tqdm
coloredlogs
dicom2nifti
nibabel
numpy
pydicom
SimpleITK
pydicom-seg